@use 'variable' as *;
@import "tailwindcss";

body{
    background-color: #4d4c4c;
    color: $defaultColor;
}

.SectionBg{
    background-color: $SectionBgColor;
}

.arrow-down-box::after {
    content: '';
    position: absolute;
    bottom: -10px; /* 箭頭高度的一半往下 */
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 10px;
    background-color: transparent;

    /* 裁切出一個向下的箭頭形狀 */
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    @apply bg-stone-600
}

.MuiChartsLegend-root {
    display: none !important;
}

.processBtn {
    @apply text-white border-white border-2 rounded-md px-1;
    
    &:hover{
      color: $hoverColor;
      border-color: $hoverColor;
    }
}

.deleteBtn {
    color: $deleteColor;
    border-color: $deleteColor;
    border-radius: 0.375rem;
    border-width: 2px;

    &:hover{
        color: $deleteHoverColor;
        border-color: $deleteHoverColor;
        border-radius: 0.375rem;
    }
}

.hiddenScrollBar {
  scrollbar-width: none;
}

button:disabled {
  opacity: 0.5;
}

.processBtn:disabled:hover {
  color: white;
  border-color: inherit;
}

.linedHref{
  cursor: pointer;
  color:$hoverColor;
  border-bottom: 1px solid $hoverColor;
}

select.graySelect {
    background-color: inherit;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    width: 120px;

    option{
          background-color: rgb(36, 36, 36);
          color: white;
    }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bgInput {
    background-color: inherit;
    color: white;
    border-bottom-color: white;
    border-bottom-width: 1px;
    outline: none;
}

.css-rbklcn-MuiResponsiveChart-container svg {
    width: 200px;
    height: 200px;
}

.hintIcon {
    width: 20px;
    height: 20px;
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-scrollbar {
    -ms-overflow-style: none; // IE 和舊 Edge
    scrollbar-width: none;    // Firefox

    &::-webkit-scrollbar {
      display: none; // Chrome、Safari、新 Edge
    }
}

.grayScrollBar {
    overflow: auto; /* 只在需要時顯示滾軸 */

    /* IE、舊版 Edge */
    -ms-overflow-style: auto;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: gray transparent;

    /* Chrome、Safari、新版 Edge */
}
.grayScrollBar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.grayScrollBar::-webkit-scrollbar-track {
    background: transparent;
}

.grayScrollBar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
}

.grayScrollBar::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

/* 🔹 隱藏滾軸箭頭（上下或左右） */
.grayScrollBar::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}



//row布局
.rowWrap{
    @apply flex flex-row flex-wrap
}


.shadowBox{
    box-shadow: 0 10px 30px #00000080;
}

//區塊標題
.SubTitle{
    @apply text-stone-400;
}

/*過往紀錄UI*/
.PastPreview {
    @apply flex flex-col justify-center cursor-pointer flex-wrap max-[400px]:flex-nowrap;

    @apply min-w-[100px] max-w-[320px] max-[800px]:max-w-[280px];
    @apply max-h-[160px] bg-slate-700 rounded-md p-2 m-2;
}

.PastPreviewTitle{
  @apply w-[60px] text-stone-400 font-bold break-keep text-sm;
}

.PastPreviewSection{
  @apply flex flex-row justify-start [&>span]:max-[400px]:text-sm;
}

.Result{
    @apply w-full min-w-[300px] mb-5 my-1; 
    @apply max-[500px]:!w-[95%] max-[500px]:flex max-[500px]:flex-col max-[500px]:justify-center; 
    @apply max-[800px]:min-w-0 max-[800px]:w-[100vw];
}

.react-tooltip {
    border: 2px solid gray;
}


//歷史紀錄頭貼
.rarity-5{
    background-image: linear-gradient(to right bottom, #695453, #90655b, #b3785d, #d1905a, #e6ac54);
}

.rarity-4{
    background-image: linear-gradient(to right bottom, #595482, #6e6195, #866da7, #9e7ab9, #b886ca)
}